.contact-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  background-color: black;
  min-height: 100vh;
}
.contact-social-links-container {
  display: flex;
  gap: 50px;
}
.linkedIn-icon,
.instagram-icon,
.github-icon {
  border: 2px solid #0881c2;
  border-radius: 50%;
  padding: 5px;
}
.instagram-icon {
  border-color: #f09433;
}
.github-icon {
  border-color: white;
}
