.contact-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  background-color: black;
}
.lines-container {
  width: 100vw;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
}
.line-container,
.line2-container,
.line3-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: relative;   */
}
.line,
.line2,
.line3 {
  width: 5px;
  height: 200px;
  background-color: teal;
}
.line2 {
  height: 220px;
}
.line3 {
  height: 250px;
}
.linkedin,
.github_,
.instagram {
  /* position: relative; */
  /* bottom: 5px; */
  border-radius: 50%;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: glow infinite linear 2s alternate;
}
.instagram {
  /* box-shadow: 0 0 10px 10px blue; */
  animation: glowinsta infinite linear 2s alternate;
}
.github_ {
  animation: glowgithub infinite linear 2s alternate;
}
@keyframes glow {
  0% {
    box-shadow: 0 0 1px 1px #0881c2;
  }
  100% {
    box-shadow: 0 0 50px 20px #0881c2;
  }
}
@keyframes glowinsta {
  0% {
    box-shadow: 0 0 1px 1px #f09433;
  }
  100% {
    box-shadow: 0 0 50px 20px #f09433;
  }
}
@keyframes glowgithub {
  0% {
    box-shadow: 0 0 1px 1px #ffffff;
  }
  100% {
    box-shadow: 0 0 50px 20px #ffffff;
  }
}
