.footer-container {
  margin-top: 5rem;
  border-top: 1px solid rgb(168, 167, 167);
  padding: 1.5rem 1.5rem 1.5rem 0.2rem;
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
}
.logo {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
  font-family: monospace;
  color: transparent;
  -webkit-text-stroke: 2px var(--primarycolor);
}
.tagline {
  font-family: var(--otherfont);
  color: teal;
  font-size: 2rem;
  /* width: 100vw; */
  max-width: 500px;
}
.navigation-heading {
  font-size: 1.5rem;
  font-family: monospace;
  color: teal;
  margin-bottom: 0.2rem;
}
.link--footer {
  text-decoration: none;
  color: white;
  list-style-type: none;
}

.link-footer {
  line-height: 2rem;
  font-size: 1.2rem;
  font-family: monospace;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: rgb(201, 201, 201);
}
.link-footer:hover {
  color: white;
}
.link-footer::before {
  content: "";
  display: inline-block;
  background-image: url("/src/images/list-removebg-preview.png");
  width: 20px;
  height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
}
.hireme-resume-footer {
  display: flex;

  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
    padding-left: 0.5rem;
    /* align-items: center; */
    padding-right: 0.5rem;
  }
  .tagline {
    font-size: 1.5rem;
  }
  .logo-tagline {
    max-width: 200px;
  }
  .hireme-resume-footer {
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .footer-container {
    gap: 2.5rem;
  }
}
