@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap");

.navbar {
  display: flex;
  padding: 1.5rem;
  align-items: center;
  justify-content: space-between;

  position: sticky;

  top: 0;
  z-index: 1;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.824);
  backdrop-filter: blur(5px);
  padding-bottom: 0.5rem;
}
.navleft {
  display: flex;
  gap: 5px;
  align-items: center;
}
.navbarimage {
  align-self: flex-start;
  width: 50px;
  margin-bottom: 0.5rem;
  border-radius: 50%;
  height: 45px;
}
.name-navbar {
  margin: 0;
  font-weight: 800;
  color: honeydew;
  font-size: 1.3rem;

  font-family: monospace;
}
.navright {
  background-color: rgb(0, 0, 0);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  gap: 2.8rem;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  /* backdrop-filter: blur(4px); */
}
.closebtn {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
}

.link {
  text-decoration: none;
}
.link-navbar {
  color: rgb(215, 215, 215);
  display: flex;
  flex-direction: column-reverse;
  font-size: 2.5rem;
  list-style: none;

  font-family: monospace;
  user-select: none;
  position: relative;
  font-weight: 700;
}
.link-navbar:hover {
  color: white;
  transition: all linear 0.5s;
}
.link-navbar::after {
  content: "";
  top: 110%;
  position: absolute;
  background-color: rgb(17, 191, 191);
  width: 0%;
  height: 3px;
  transition: all ease 0.5s;
  transform-origin: right;
}
.link-navbar:hover::after {
  width: 100%;
}
.name-navbar:hover {
  color: rgb(17, 191, 191);
  transition: all 0.3s linear;
}
@media screen and (min-width: 700px) {
  .navbar {
    justify-content: space-around;
    position: sticky;
    /* padding-top: 2rem; */
    padding: 1.2rem;
    background-color: rgba(0, 0, 0, 0.29);
  }
  .navright {
    position: static;
    flex-direction: row;
    display: flex;
    align-items: start;
    justify-content: start;
    background-color: transparent;
    /* background-color: rgba(0, 0, 0, 0.027); */
    backdrop-filter: none;
    width: fit-content;
    height: fit-content;
  }
  .open {
    flex-direction: row;
  }
  .closebtn {
    display: none;
  }
  .openbtn {
    display: none;
  }
  .link-navbar {
    font-size: 1.2rem;
    font-family: monospace;
  }
  .name-navbar {
    font-size: 1.2rem;
    transition: all 0.3s linear;
    color: rgb(215, 215, 215);
  }
}
