.projects-section-container {
  background-color: black;
  padding: 1rem;
  padding-top: 2.8rem;
}
.projects-heading-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
.projects-heading,
.project-showcase-heading {
  color: var(--primarycolor);
  font-family: var(--otherfont);
  font-size: 2.5rem;
}
.project-container-content {
  padding-top: 0.8rem;
}
.project-content {
  font-size: 1.5rem;
  font-family: var(--otherfont);
  color: rgb(204, 204, 204);
  font-weight: 200;
}
.project-showcase-heading {
  margin-top: 2.8rem;
}

.project-tabs-container {
  padding: 1rem 0;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.beginners-tab,
.advance-tab {
  background-color: var(--primarycolor);
  font-family: var(--selffont);
  color: white;
  font-weight: 800;
  font-size: 1.3rem;
  text-align: center;
  width: 100%;
  padding: 0.5rem;
  border: 2px solid teal;
  border-radius: 15px;
  transition: all 0.2s linear;
  user-select: none;
}
.colorless-tab {
  font-family: var(--selffont);
  color: white;
  font-weight: 800;
  font-size: 1.3rem;
  text-align: center;
  width: 100%;
  padding: 0.5rem;
  border: 2px solid teal;
  border-radius: 15px;
  transition: all 0.2s linear;
  user-select: none;
}

.colorless-tab:hover,
.colorless-tab:hover {
  background-color: rgb(0, 152, 152);
  border-radius: 12px;
  border: 2px solid transparent;
}
.project-showcase-container-beginner,
.project-showcase-container-advance {
  display: none;
}
.content-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5rem;
  gap: 2rem;
}
.project-cards {
  background-image: var(--cardsbg);
  border: 2px solid #000000;
  display: flex;
  border-radius: 20px;
  user-select: none;
  flex-direction: column;
  padding: 0.2rem 0.2rem 0.5rem 0.2rem;
  height: fit-content;
  height: 450px;
  overflow: hidden;
  position: relative;
}

.project-image {
  height: 182px;
  border-radius: 20px 20px 0 0;
  width: 100%;
  object-fit: cover;
}
.project-card-content {
  padding: 1rem;
}
.project-card-content-heading {
  color: var(--primarycolor);
  font-family: var(--headingFont);
  font-size: 2rem;
  font-weight: 500;
}
.project-card-content-tags {
  display: flex;
  gap: 0.5rem;
  margin: 0.8rem 0;
}
.tag-name {
  background-color: rgb(0, 76, 76);
  padding: 0.5rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  font-family: var(--selffont);
  width: fit-content;
}
.project-card-content-text {
  font-size: 1.1rem;
  font-family: var(--selffont);
  max-height: 115px;
  overflow-y: auto;
  color: rgba(213, 211, 211, 0.898);
}
.project-card-content-text::-webkit-scrollbar,
.project-card-content-text::-webkit-scrollbar-corner {
  background-color: rgba(105, 105, 105, 0);
  width: 5px;
}
.project-card-content-text::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}

.view-btn-div {
  padding: 0 0 1rem 1rem;
  position: absolute;
  bottom: 2px;
}
.view {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: teal;
  font-weight: 800;
  color: rgb(225, 225, 225);
  border-radius: 10px;
  font-family: var(--selffont);
}
.content-display {
  margin-top: 1.2rem;
}
@media screen and (min-width: 720px) {
  .project-cards {
    width: 100%;
    max-width: 320px;
  }
  .projects-heading {
    font-size: 1.5rem;
  }
  .project-image {
    height: 140px;
  }
  .project-content {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .projects-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  .projects-container {
    width: var(--tabwidth);
  }
  .project-tabs-container {
    width: var(--tabwidth);
  }
  .beginners-tab,
  .advance-tab,
  .colorless-tab {
    font-size: 1.5rem;
    padding: 1rem 0;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1300px) {
  .projects-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  .projects-container {
    width: var(--smalllaptopwidth);
  }
  .project-tabs-container {
    width: var(--smalllaptopwidth);
  }
  .beginners-tab,
  .advance-tab,
  .colorless-tab {
    padding: 1rem 0;
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1301px) {
  .projects-section-container {
    display: flex;
    justify-content: center;
  }
  .projects-container {
    width: var(--laptopwidth);
  }
  .project-tabs-container {
    width: var(--laptopwidth);
  }
  .beginners-tab,
  .advance-tab,
  .colorless-tab {
    padding: 1rem 0;
    font-size: 1.1rem;
  }
}
