/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: monospace;

}
.under{
  width: 100vw;
  height: 99vh;
}
.App{
  background-color: rgb(234, 234, 234);
  height: 95vh;
  display: flex;
  flex-direction: column;
align-items: center;
padding: 1rem;

}
.heading{
  margin-top:2rem ;
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 5rem;
}
.secondary{
  font-size: 2rem;
  line-height: 5rem;
}
.img{
  width: 80vw;
 
  height: 50vh;
  

}
.imgclock{
  width: 100px;
  height: 80px;
  mix-blend-mode:multiply;
  position: absolute;
  top: 200px;
  right: 69vw;
  /* display: none; */
}
.heading-launch{
  font-size: 2.5rem;
}
.footer{
  background-color: #fff;
  padding: 0.5rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  box-shadow:  5px 0px 5px 5px rgb(233, 232, 232);
}
@media screen and (min-width:768px) {
  
  .heading,.secondary{
    font-size: 5rem;
  }
  .img{
    width: 50vw;
   max-width: 500px;
    height: 50vh;
    
  
  
  }
  .imgclock{
    right: 65vw;
  }
}
@media screen and (min-width:1300px) {
  .imgclock{
    right: 60vw;
  }

}